body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homePage {
    padding-top: 70px;
}


.dimmed::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.titleContainer {
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.videoContainer {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subtitle {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.card {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}

.cardTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    color: #333;
}


/*navbar*/


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-toggler {
    display: none;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
}

.toggler-icon {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: relative;
}

.toggler-icon::before,
.toggler-icon::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.toggler-icon::before {
    top: -6px;
}

.toggler-icon::after {
    top: 6px;
}

.logo {
    color: #fff;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    padding: 0 10px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}

/* Responsive styles */
/*@media (max-width: 768px) {*/
/*    .navbar-menu {*/
/*        display: none;*/
/*    }*/

/*    .navbar-toggler {*/
/*        display: block;*/
/*    }*/

/*    .navbar.open .navbar-menu {*/
/*        display: block;*/
/*        position: absolute;*/
/*        top: 100%;*/
/*        left: 0;*/
/*        right: 0;*/
/*        background-color: #333;*/
/*        text-align: center;*/
/*    }*/

/*    .navbar.open .navbar-menu li {*/
/*        display: block;*/
/*        padding: 10px;*/
/*    }*/
/*}*/
/*navbar toggler change at mobiel and tablet size window*/
@media (max-width: 992px) {
    .navbar-menu {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar.open .navbar-menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3E3E3E;
        text-align: center;
    }

    .navbar.open .navbar-menu li {
        display: block;
        padding: 10px;
    }
}

.no-click {
    pointer-events: none;
}

.card {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.cardTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4CAF50;
}

.description {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

.sponsor-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sponsor-logo {
    max-height: 50px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .sponsor-logo {
        max-height: 40px;
    }
}


.section-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.sponsor-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

