.team-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
}
.dimmed {
    padding-top: 100px; /* Adjust this value to create more space between the navigation bar and the team page */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Subtract the navigation bar height */
}

.teamInfoPage {
    background-color: #B2D2A4; /* Change this value to set the desired background color */
    width: 120%; /* Adjust this value to change the block width */
    max-width: 1200px; /* Adjust this value to set the maximum width of the block */
   /* \\padding: 10px; /* Adjust this value to add padding inside the block */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to the block */
    border-radius: 8px;
    padding-top:64px; /* Add rounded corners to the block */
}

.team-member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.team-member h4 {
    margin-bottom: 0.5rem;
}

.team-box {
    width: 400px;
    background-color: #18A558;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-box h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.team-member {
    display: inline-block; /* Add this line */
    width: 50%;
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.team-member h4 {
    margin-bottom: 0.5rem;
}
.titleContainer {
    display: block;
    text-align: center;
    margin-bottom: 2rem; /* Adjust this value to increase/decrease the space below the title */
}

.title {
    font-size: 2rem; /* Adjust this value to increase/decrease the font size */
    font-weight: bold;
    margin-bottom: 0.5rem;
}

hr {
    width: 50%; /* Adjust this value to increase/decrease the width of the line */
    margin: 0 auto; /* Center the line */
    border: 1px solid #000; /* Adjust the line color and thickness */
}
